body {
  height: 100%;
  background: #ffe6e6;
}

#app {
  text-align: center;
	color: #ff4444;
	font-size: 25px;
}

h1 {
	padding-top: 30px;
	padding-bottom: 30px;
}

#control {
	display: flex;
	justify-content: center;
}

#control button {
	margin: 10px;
	cursor: pointer;
	color: #ff4444;
	border: none;
	background: none;
}

#session, #break {
	margin-left: 20px;
	margin-right: 20px;
}

#timer {
	height: 300px;
	width: 300px;
	border: 5px solid #ff4444;
	border-radius: 50%;
	margin: auto;
	font-size: 35px;
}

#time-left{
	margin-top: 20px;
	font-size: 50px;
}

#timer-label{
	margin-top: 60px;
	font-size: 25px;
	
}

#start_stop, #reset{
	background: #ff4444;
	border-radius: 5px;
	color: #ffe6e6;
	margin: 20px;
	font-size: 20px;
}

